[Unit]
Description=Headphones - Automatic music downloader for SABnzbd

[Service]
ExecStart=/opt/headphones/Headphones.py --daemon --config /opt/headphones/config.ini --datadir /opt/headphones
GuessMainPID=no
Type=forking
User=plex
Group=plex

[Install]
WantedBy=multi-user.target
