[Unit]
Description=Systemd script to run Ombi as a service
After=network-online.target

[Service]
User=plex
Group=plex
Type=simple
ExecStart=/usr/bin/mono /opt/Ombi/Release/Ombi.exe

[Install]
WantedBy=multi-user.target
